@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Lexend+Deca:wght@300;400&display=swap');
@import url(reset.css);

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --violet-overlay: hsla(277, 87%, 48%, 0.4);
  --white: hsl(0, 0%, 100%);
  --white-75: hsla(0, 0%, 100%, 0.75);
  --white-60: hsla(0, 0%, 100%, 0.6);
}

body {
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.container {
  padding: 8.8rem 2.4rem 2.4rem;
}

.main {
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--dark-desaturated-blue);
  text-align: center;
}

.main__image {
  position: relative;
}

.main__image::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: var(--violet-overlay);
}

.heading {
  margin-bottom: 4rem;
}

.main__content {
  padding: 4rem 3.2rem 3.2rem 3.1rem;
}

.main-heading {
  font-size: clamp(2.8rem, 5vw, 3.6rem);
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 1.6rem;
}

.main-para {
  line-height: 2.5rem;
  font-weight: 300;
  color: var(--white-75);
}

.main-heading--violet {
  color: var(--soft-violet);
}

.stats__title {
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 0.2rem;
}

.stats_info {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--white-60);
  letter-spacing: 1px;
  font-family: 'Lexend Deca', sans-serif;
  margin-bottom: 2.4rem;
  line-height: 2.5rem;
}

.stats:last-of-type .stats_info {
  margin-bottom: 0;
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-top: 2.4rem;
  color: var(--white-75);
}
.attribution a {
  color: var(--soft-violet);
}

.attribution p {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 1158px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main {
    display: flex;
    gap: 3rem;
    max-width: 111rem;
    text-align: left;
  }

  .main > * {
    width: calc(50% - 1.5rem);
  }

  .heading {
    margin-bottom: 7.2rem;
  }

  .main-heading {
    line-height: 4.4rem;
    margin-bottom: 2.5rem;
  }

  .main__content {
    padding: 7.1rem 7.2rem 5.9rem;
  }

  .main__image {
    order: 1;
  }

  .main__image picture,
  .main__image img {
    object-fit: cover;
    height: 100%;
  }

  .stats-container {
    display: grid;
    gap: 6.4rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .stats_info {
    margin-bottom: 0;
  }
}
